apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

configMapGenerator:
  - name: datadog-ami-age-check
    files:
      - eks_ami_age.py

resources:
  - ami_age_conf.yaml
  - datadog-agent.yaml

generatorOptions:
  disableNameSuffixHash: true


